

<div class="container d-flex flex-column  justify-content-center align-items-center vh-100">
  <h1 class="mb-4">Character selection</h1> <!-- Add margin bottom for spacing -->
  <div *ngFor="let character of characterList" class="card" style="width: 18rem; margin-bottom: 20px;">
    <div class="card-body">
      <h5 class="card-title">{{ character.name }}</h5> <!-- Use character properties here -->
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Level: {{ character.level }}</li> <!-- Example item -->
      <li class="list-group-item">Experience: {{ character.experience }}</li> <!-- Example item -->
    </ul>
    <div class="card-body">
      <button (click)="playButtonClicked(character)" class="btn btn-success">Play</button>
      <button class="btn btn-warning">Delete</button>
    </div>
</div>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Create new
  </button>

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title text-center fs-5" id="staticBackdropLabel">Character creation</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Name</label>
              <input [(ngModel)]="characterName" name="characterName" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="d-flex">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button (click)="createCharacter()" data-bs-dismiss="modal" type="submit" class="btn btn-success ms-auto">Create</button>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>

</div>
